<%- include('component/header') %> 
          <section class="home flex color " id="home">
              <div id="owner" class="owner flex"> 
                <div class="font-max-size">Welcome</div>
                <div class="logo">To</div>
                <div class="logo color font-size">Satkar Resturant</div>
                <div class="typewrite">We serve </div>
              </div>
            </section>
        <%- include('services') %> 
        <hr class="max-width">
        <%- include('menu') %>
  
        <%-include('contact')%>
<%- include('component/footer') %> 
